@model Books2BookV2.Models.TblBorrow

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TblBorrow</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BookId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BookId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateToBorrow)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateToBorrow)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsPaid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsPaid)
        </dd>
    </dl>
</div>
<div>
 <button type="submit"><h5><a href="~/Administration">Admin Page</a></h5></button>
</div>
