@model IEnumerable<Books2BookV2.Models.TblBorrow>

@{
	ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.BookId)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.UserName)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.DateToBorrow)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.IsPaid)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.BookId)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.UserName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.DateToBorrow)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.IsPaid)
				</td>
				<td>
					@if (User.IsInRole("Admin"))
					{
						<a href="~/TblBorrows/Details?ID=@item.Id" asp-action="Details" asp-route-id="@item.Id">Details</a>
					}
				</td>
			</tr>
		}
	</tbody>
</table>
<button type="submit"><h5><a href="~/Administration">Admin Page</a></h5></button>
