@model IEnumerable<Books2BookV2.Models.TblImage>

@{
	ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
	<a asp-action="Create">Create New</a>
</p>
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Id)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Title)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Image)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Isbn)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Author)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.DescriptionOfBook)
			</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Id)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Title)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Image)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Isbn)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Author)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.DescriptionOfBook)
				</td>
				<td>
					@if (User.IsInRole("Admin"))
					{
						<a href="~/TblImages/Edit?ID=@item.Id" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
						<a href="~/TblImages/Details?ID=@item.Id" asp-action="Details" asp-route-id="@item.Id">Details</a>
						<a href="~/TblImages/Delete?ID=@item.Id" asp-action="Delete" asp-route-id="@item.Id">Delete</a>

					}
				</td>
			</tr>
		}
	</tbody>
</table>
