@page "/BookView"
@model Books2BookV2.Pages.Shared.BookViewModel
@{
}


<div class="row justify-content-center m-3"> 
    <div class="col-sm-8">
        <div class="card">
            <div class="card-header">
                <h1>@Model.tblBook.Title</h1>
            </div>

            <div class="card-body text-center">
                <img class="card-img-top" src="~/images/book1.png" asp-append-version="true"/>
                <h4>ISBN : @Model.tblBook.Isbn</h4>
                <h4>ISBN : @Model.tblBook.Edition</h4>
                <h4> Description: @Model.tblBook.Description</h4>
                <h4> Available : @Model.tblBook.InStock</h4>
            </div>

            <div class="card-footer text-center">
                <a asp-page="index" class="btn-primary">Back</a>
            </div>
        </div>
    </div>
</div>