@page
@inject SignInManager<IdentityUser> signInManager;
@using System.Security.Claims
@model IndexModel
@{
	ViewData["Title"] = "Home page";
}
<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="SemiColonWeb" />

	<!-- Stylesheets
	============================================= -->
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700|Poppins:300,400,500,600,700|PT+Serif:400,400i&display=swap" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="css/bootstrap.css" type="text/css" />
	<link rel="stylesheet" href="style.css" type="text/css" />
	<link rel="stylesheet" href="css/dark.css" type="text/css" />
	<link rel="stylesheet" href="css/font-icons.css" type="text/css" />
	<link rel="stylesheet" href="css/animate.css" type="text/css" />
	<link rel="stylesheet" href="css/magnific-popup.css" type="text/css" />
	<!--  Pricing Tables Style  -->
	<link rel="stylesheet" href="css/components/pricing-table.css" type="text/css" />

	<link rel="stylesheet" href="css/custom.css" type="text/css" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<!-- Document Title
	============================================= -->
	<title>Books-2-Book</title>

	<style>

		.white-section {
			background-color: #FFF;
			padding: 25px 20px;
			-webkit-box-shadow: 0px 1px 1px 0px #dfdfdf;
			box-shadow: 0px 1px 1px 0px #dfdfdf;
			border-radius: 3px;
		}

			.white-section label {
				margin-bottom: 15px;
			}

		.dark .white-section {
			background-color: #111;
			-webkit-box-shadow: 0px 1px 1px 0px #444;
			box-shadow: 0px 1px 1px 0px #444;
		}

	</style>

</head>

<body class="stretched">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		<!-- Top Bar
		============================================= -->
		<div id="top-bar">
			<div class="container clearfix">

				<div class="row justify-content-between">
					<div class="col-12 col-md-auto">



						<!-- Logo
						============================================= -->
						<div id="logo">

							<a href="#" class="standard-logo" data-dark-logo="images/logo-dark.png"><img src="images/logo1.png" alt="Books2Book Logo"></a>
							<!-- #logo end -->
							<div class="fancy-title title-border">
								<h1>Books-2-Book</h1>
							</div>
						
							<input type="button" value="Menu" class="button tox-button button-rounded button-dark side-panel-trigger bottommargin"/>
						
						</div>
						<div id="side-panel" class="dark">

							<div id="side-panel-trigger-close" class="side-panel-trigger"><a href="#"><i class="icon-line-cross"></i></a></div>

							<div class="side-panel-wrap">

								<div class="widget clearfix">

									<h4>Menu</h4>

									<nav class="nav-tree mb-0">
										<ul>
											<li>
												<a href="#"><i class="icon-home"></i>Home</a>
											</li>
											<li>
												<a href="~/TblBooks/Index"><i class="icon-search"></i>Search For Books</a>
											</li>

											@if ((User.Identity.IsAuthenticated))
											{
												<li>
													<a href="~/Shopping"><i class="icon-shopping-cart"></i>Checkout</a>
												</li>
											}


											@if (User.Identity.IsAuthenticated)
											{
												<li>
													<a href="~/TblImages/Guidelines"><i class="icon-money"></i>Sell Your Books</a>
												</li>
											}

											<li>
												<a href="faqs.html"><i class="icon-question"></i>FAQs</a>
											</li>
											<li>
												<a href="#"><i class="icon-phone2"></i>Contact Us</a>
												<ul>
													<li><i class="icon-envelope2"></i></li>
													<li>bookadmin@gmail.com</li>
													<li><i class="icon-phone1"></i>Cell:</li>
													<li>065 600 1461</li>
													<li><i class="icon-phone3"></i>Tel:</li>
													<li>032 943 4831</li>
												</ul>
											</li>
											<li>
												<a href="contact.html"><i class="icon-map-marker"></i>Follow Us</a>
												<ul>
													<li><a href="#"><i class="icon-facebook"></i>Facebook</a></li>
													<li><a href="#"><i class="icon-github"></i>Github</a></li>
													<li><a href="#"><i class="icon-linkedin"></i>LinkedIn</a></li>
													<li><a href="#"><i class="icon-twitter"></i>Twitter</a></li>
												</ul>
											</li>
											<li>
												<a href="~/About"><i class="icon-book"></i>About</a>
											</li>
											<li>
												@if (User.IsInRole("Admin"))
												{
													<a href="~/StatsDetails/Index"><i class="icon-graph"></i>Statistics</a>

												}

											</li>
											<li>
												@if (User.IsInRole("Admin"))
												{
													<a href="~/Administration"><i class="icon-pencil"></i>Administration</a>

												}

											</li>
										</ul>
									</nav>

								</div>

							</div>

						</div>
					</div>
				</div>
			</div>
		</div><!-- #top-bar end -->
		<!-- Content
		============================================= -->

		<section id="slider" class="slider-element boxed-slider">

			<div class="container clearfix">

				<div class="fslider" data-animation="fade">
					<div class="flexslider">
						<div class="slider-wrap">
							<div class="slide" data-thumb="images/slider/boxed/thumbs/3.jpg">
								<a href="vidur.html" class="d-block position-relative">
									<img src="images/ad1.PNG" alt="Slide 1">
									<div class="bg-overlay">
										<div class="bg-overlay-content justify-content-start align-items-end">
											<div class="h3 fw-light py-2 px-3 bg-light text-dark ms-3 mb-3 rounded">Visit Site</div>
										</div>
									</div>
								</a>
							</div>
							<div class="slide" data-thumb="images/slider/boxed/thumbs/3.jpg">
								<a href="site.html" class="d-block position-relative">
									<img src="images/ad2.PNG" alt="Slide 2">
									<div class="bg-overlay">
										<div class="bg-overlay-content justify-content-end align-items-end">
											<div class="h3 fw-light py-2 px-3 bg-dark text-light me-3 mb-3 rounded">Visit Site</div>
										</div>
									</div>
								</a>
							</div>
							<div class="slide" data-thumb="images/slider/boxed/thumbs/4.jpg">
								<a href="merushka.html" class="d-block position-relative">
									<img src="images/ad3.PNG" alt="Slide 3">
									<div class="bg-overlay">
										<div class="bg-overlay-content">
											<div class="h3 fw-light py-2 px-3 bg-color text-light rounded">Visit Site</div>
										</div>
									</div>
								</a>
							</div>
						</div>
					</div>
				</div>

			</div>

		</section>

		<section id="content">

			<div class="content-wrap">
				<div class="container clearfix">
					<section class="section pricing-section m-0 dark" style="background-color: #444;">
						<div class="container clearfix">
							<h2 class="pricing-section--title center"><b>Subscription Deals</b></h2>
							<div class="pricing pricing--yama">
								<div class="pricing--item">
									<h3 class="pricing--title">Standard</h3>
									<p class="pricing--sentence">Basic plan</p>
									<div class="pricing--price"><span class="pricing--currency">R</span>100<span class="pricing--period">/month</span></div>
									<div class="row justify-content-right">
										<ul class="pricing--feature-list">
											<li class="pricing--feature"><span class="middot">&middot;</span> Pay the minimum charge to get a paperback book of your choice monthly</li>
											<li><h1> </h1> </li>
											<li class="pricing--feature"><span class="middot">&middot;</span> Obtain and return books from the safety and comfort of your institution</li>
											<li><h1> </h1>  </li>
											<li class="pricing--feature"><span class="middot">&middot;</span> Sell your unwanted books and get a fair price</li>
											<li><h1> </h1>  </li>
											<li class="pricing--feature"><span class="middot">&middot;</span> Access to a wide variety of paperback materials</li>
											<li><h1> </h1>  </li>
											<li class="pricing--feature"><span class="middot">&middot;</span> Rent as many paperback books as you need</li>
											<li><h1> </h1>  </li>
											<li class="pricing--feature"><span class="middot">&middot;</span> Interact with other users for support and recommendations</li>
										</ul>
									</div>
								</div>
								<div class="pricing--item">
									<h3 class="pricing--title">Premium</h3>
									<p class="pricing--sentence">Additional benefits plan</p>
									<div class="pricing--price"><span class="pricing--currency">R</span>300<span class="pricing--period">/month</span></div>
									<ul class="pricing--feature-list">
										<li class="pricing--feature">Pay the minimum charge to get a paperback or electronic book of your choice monthly</li>
										<li class="pricing--feature">Obtain and return books from the safety and comfort of your institution</li>
										<li class="pricing--feature">Sell your unwanted books and get a fair price</li>
										<li class="pricing--feature">Access to a wide variety of paperback materials</li>
										<li class="pricing--feature">Rent as many paperback books as you need</li>
										<li class="pricing--feature">Interact with other users for support and recommendations</li>
										<li class="pricing--feature">Access to a wide variety of online materials</li>
										<li class="pricing--feature">Rent as many e-Books as you need</li>
									</ul>

								</div>
							</div>
						</div>
					</section>

					<div class="promo promo-dark p-5 bottommargin-lg">
						<div class="row align-items-center">
							<div class="col-12 col-lg">
								<h3>The hassle-free solution to your study woes</h3>
								<span>Rent any book for as little as <em>R100/month</em>! Simply pick up and drop off your rentals at your institution</span>
							</div>
							<div class="col-12 col-lg-auto mt-4 mt-lg-0">
								<a href="~/Identity/Account/Register" class="button button-reveal button-large button-circle text-end m-0"><i class="icon-angle-right"></i><span>Register Now</span></a>
							</div>
						</div>
					</div>
				</div>
			</div>


			<div class="fancy-title title-border">
				<h1>Coding Books</h1>
			</div>

			<div class="content-wrap">
				<div class="container clearfix">
					<div id="oc-images" class="owl-carousel owl-carousel-full news-carousel header-stick bottommargin-lg carousel-widget" data-margin="3" data-loop="true" data-stage-padding="50" data-pagi="false" data-items-sm="1" data-items-xl="2">
						@foreach (var b in Model.codingBooks)
						{
							<div class="oc-item">

								<a href="#"><img style='border:10px solid #000000' src="@Url.Content("~/images/"+ b.BookId +".png" )" alt="Image not found" height="500" width="500"></a>

								<div class="bg-overlay">
									<div class="bg-overlay-content text-overlay-mask dark desc-sm align-items-end justify-content-start p-4">
										<div>
											<div class="portfolio-desc px-0">
												<h3>@b.Title</h3>
											</div>
											<a href="/TblBooks/Details?ID=@b.BookId" class="btn btn-sm btn-outline-light mx-0 mb-2">Borrow</a>
										</div>
									</div>
								</div>

							</div>
						}


					</div>


				</div>
			</div>

			<div class="fancy-title title-border">
				<h1>Business Books</h1>
			</div>

			<div class="content-wrap">
				<div class="container clearfix">
					<div id="oc-images" class="owl-carousel owl-carousel-full news-carousel header-stick bottommargin-lg carousel-widget" data-margin="3" data-loop="true" data-stage-padding="50" data-pagi="false" data-items-sm="1" data-items-xl="2">
						@foreach (var b in Model.businessBooks)
						{
							<div class="oc-item">

								<a href="#"><img style='border:10px solid #000000' src="@Url.Content("~/images/"+ b.BookId +".png" )" alt="Image not found" height="500" width="500"></a>
								<div class="bg-overlay">
									<div class="bg-overlay-content text-overlay-mask dark desc-sm align-items-end justify-content-start p-4">
										<div>
											<div class="portfolio-desc px-0">
												<h3>@b.Title</h3>
											</div>
											<a href="/TblBooks/Details?ID=@b.BookId" class="btn btn-sm btn-outline-light mx-0 mb-2">Borrow</a>
										</div>
									</div>
								</div>

							</div>
						}
					</div>
				</div>
			</div>

			<div class="fancy-title title-border">
				<h1>Fiction Books</h1>
			</div>

			<div class="content-wrap">
				<div class="container clearfix">
					<div id="oc-images" class="owl-carousel owl-carousel-full news-carousel header-stick bottommargin-lg carousel-widget" data-margin="3" data-loop="true" data-stage-padding="50" data-pagi="false" data-items-sm="1" data-items-xl="2">
						@foreach (var b in Model.fictionBooks)
						{
							<div class="oc-item">

								<a href="#"><img style='border:10px solid #000000' src="@Url.Content("~/images/"+ b.BookId +".png" )" alt="Image not found" height="500" width="500"></a>

								<div class="bg-overlay">
									<div class="bg-overlay-content text-overlay-mask dark desc-sm align-items-end justify-content-start p-4">
										<div>
											<div class="portfolio-desc px-0">
												<h3>@b.Title</h3>
											</div>
											<a href="/TblBooks/Details?ID=@b.BookId" class="btn btn-sm btn-outline-light mx-0 mb-2">Borrow</a>
										</div>
									</div>
								</div>

							</div>
						}


					</div>


				</div>
			</div>
		</section><!-- #content end -->
		<!-- Footer
		============================================= -->
		<footer id="footer" class="dark">

			<!-- Copyrights
			============================================= -->
			<div id="copyrights">
				<div class="container">

					<div class="row col-mb-30">

						<div class="col-md-6 text-center text-md-start">
							Copyrights &copy; 2022 All Rights Reserved by Books-2-Book Inc.<br>
							<div class="copyright-links"><a href="terms.html">Terms of Use</a> / <a href="#">Privacy Policy</a></div>
						</div>

						<div class="col-md-6 text-center text-md-end">
							<div class="d-flex justify-content-center justify-content-md-end">
								<a href="#" class="social-icon si-small si-borderless si-facebook">
									<i class="icon-facebook"></i>
									<i class="icon-facebook"></i>
								</a>

								<a href="#" class="social-icon si-small si-borderless si-twitter">
									<i class="icon-twitter"></i>
									<i class="icon-twitter"></i>
								</a>

								<a href="#" class="social-icon si-small si-borderless si-github">
									<i class="icon-github"></i>
									<i class="icon-github"></i>
								</a>

								<a href="#" class="social-icon si-small si-borderless si-linkedin">
									<i class="icon-linkedin"></i>
									<i class="icon-linkedin"></i>
								</a>
							</div>

							<div class="clear"></div>

							<i class="icon-envelope2"></i> info@books2book.com
							<span class="middot">&middot;</span>
							<i class="icon-phone1"></i> 083 468 1461
							<span class="middot">&middot;</span>
							<i class="icon-phone3"></i> 032 943 1348
						</div>

					</div>

				</div>
			</div><!-- #copyrights end -->
		</footer><!-- #footer end -->
	</div><!-- #wrapper end -->
	<!-- JavaScripts
	============================================= -->
	@*<script src="js/jquery.js"></script>
	<script src="js/plugins.min.js"></script>

	<!-- Footer Scripts
	============================================= -->
	<script src="js/functions.js"></script>*@

</body>
</html>