@page
@model Shopping
@{
    ViewData["Title"] = "Shopping Cart";
}
<h1>@ViewData["Title"]</h1>
<table class="table table-sm table-light">
    <thead>
        <tr>
            <th scope="col">BookId</th>
            <th scope="col">Book Title</th>
            <th scope="col">Condition</th>
            <th scope="col">Price</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.bookTitles == null)
        {
            <tr>Your list is empty </tr>
        }else{
            @foreach (var i in Model.bookTitles)
            {
                <tr>
                    <td>@i.BookId</td>
                    <td>@i.Title</td>
                    <td>@i.Condition</td>
                    <td>price</td>
                </tr>
            }
        }
       

        <!--Action method Controller, Get/PostMethod/-->
        <input type="button" value="Check out" onclick="location.href='@Url.Action("Index", "TblPayments")'" />

        
        

          


    </tbody>
</table>