@page
@model Shopping
@{
	ViewData["Title"] = "Shopping Cart";
}
<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="SemiColonWeb" />
	<!-- Stylesheets
	============================================= -->
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700|Poppins:300,400,500,600,700|PT+Serif:400,400i&display=swap" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="@Url.Content("~/css/bootstrap.css")" type="text/css" />
	<link rel="stylesheet" href="@Url.Content("~/css/style.css")" type="text/css" />
	<link rel="stylesheet" href="@Url.Content("~/css/dark.css")" type="text/css" />
	<link rel="stylesheet" href="@Url.Content("~/css/font-icons.css")" type="text/css" />
	<link rel="stylesheet" href="@Url.Content("~/css/animate.css")" type="text/css" />
	<link rel="stylesheet" href="@Url.Content("~/css/magnific-popup.css")" type="text/css" />

	<link rel="stylesheet" href="@Url.Content("~/css/custom.css")" type="text/css" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<!-- Document Title
		============================================= -->
</head>

<body class="stretched">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		<!-- Top Bar
		============================================= -->
		<div id="top-bar">
			<div class="container clearfix">

				<div class="row justify-content-between">
					<div class="col-12 col-md-auto">



						<!-- Logo
						============================================= -->
						<div id="logo">

							<a href="#" class="standard-logo" data-dark-logo="images/logo-dark.png"><img src="images/logo1.png" alt="Books2Book Logo"></a>
							<!-- #logo end -->
							<div class="fancy-title title-border">
								<h1>Books-2-Book</h1>
							</div>
	
						</div>
					</div>
				</div>
			</div>
		</div><!-- #top-bar end -->
		<!-- Content
		============================================= -->
		<section id="content">
			<div class="content-wrap">
				<div class="container">
					<h1>@ViewData["Title"]</h1>
					<table class="table cart mb-5">
						<thead>
							<tr>
								@if (User.IsInRole("Admin"))
								{
									<th scope="col">BookId</th>
								}
								<th scope="col">Book Title</th>
								<th scope="col">Condition</th>
								<th scope="col">Price</th>
							</tr>
						</thead>
						<tbody>



							@foreach (var i in Model.bookTitles)
							{
								<tr class="cart_item">

									@if (User.IsInRole("Admin"))
									{
										<td>@i.BookId</td>
									}
									<td>@i.Title</td>
									<td>@i.Condition</td>
									@if (i.Condition == "A")
									{
										<td>R150</td>
									}
									@if (i.Condition == "B")
									{
										<td>R100</td>
									}
									@if (i.Condition == "C")
									{
										<td>R50</td>
									}


									<td class="cart-product-remove">


										@using (Html.BeginForm("remove", "TblBorrows", FormMethod.Post))
										{
											<input type="hidden" value="@i.BookId" id="bookid" name="bookid" />
											<button type="submit"><i class="icon-trash2"></i></button>
										}

									</td>




								</tr>
							}
							<tr>
								<td colspan="6">
									<div class="row justify-content-between py-2 col-mb-30">
										<div class="col-lg-auto ps-lg-0">
											<div class="row">
												<div class="col-md-8">
												</div>
												<div class="col-md-4 mt-3 mt-md-0">
												</div>
											</div>
										</div>
										<div class="col-lg-auto pe-lg-0">
											<div class="row">
												<div class="col-md-12">
													<p>Total = R @TempData["priceTotal"]</p>
												</div>
												<div>
													<input type="button" class="button button-3d mt-2 mt-sm-0 me-0" value="Check out" data-bs-toggle="modal" data-bs-target=".bs-example-modal-centered" />
												</div>
											</div>

										</div>
									</div>
								</td>
							</tr>

						</tbody>

					</table>


					<div class="modal fade bs-example-modal-centered" tabindex="-1" role="dialog" aria-labelledby="centerModalLabel" aria-hidden="true">
						<div class="modal-dialog modal-dialog-centered">
							<div class="modal-content">
								<div class="modal-header">
									<h4 class="modal-title" id="myModalLabel">Confirm Purchase?</h4>
									<button type="button" class="btn-close btn-sm" data-bs-dismiss="modal" aria-hidden="true"></button>
								</div>
								<div class="modal-body">
									<p class="mb-0">Please click "confirm" to make your purchase.</p>
									<input type="button" value="Confirm" onclick="location.href='@Url.Action("Index", "TblPayments")'" />
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section><!-- #content end -->
		<!-- Footer
		============================================= -->
		<footer id="footer" class="dark">

			<!-- Copyrights
			============================================= -->
			<div id="copyrights">
				<div class="container">

					<div class="row col-mb-30">

						<div class="col-md-6 text-center text-md-start">
							Copyrights &copy; 2022 All Rights Reserved by Books-2-Book Inc.<br>
							<div class="copyright-links"><a href="terms.html">Terms of Use</a> / <a href="#">Privacy Policy</a></div>
						</div>

						<div class="col-md-6 text-center text-md-end">
							<div class="d-flex justify-content-center justify-content-md-end">
								<a href="#" class="social-icon si-small si-borderless si-facebook">
									<i class="icon-facebook"></i>
									<i class="icon-facebook"></i>
								</a>

								<a href="#" class="social-icon si-small si-borderless si-twitter">
									<i class="icon-twitter"></i>
									<i class="icon-twitter"></i>
								</a>

								<a href="#" class="social-icon si-small si-borderless si-github">
									<i class="icon-github"></i>
									<i class="icon-github"></i>
								</a>

								<a href="#" class="social-icon si-small si-borderless si-linkedin">
									<i class="icon-linkedin"></i>
									<i class="icon-linkedin"></i>
								</a>
							</div>

							<div class="clear"></div>

							<i class="icon-envelope2"></i> info@books2book.com
							<span class="middot">&middot;</span>
							<i class="icon-phone1"></i> 083 468 1461
							<span class="middot">&middot;</span>
							<i class="icon-phone3"></i> 032 943 1348
						</div>

					</div>

				</div>
			</div><!-- #copyrights end -->
		</footer><!-- #footer end -->
	</div><!-- #wrapper end -->
	<!-- JavaScripts
	============================================= -->
	<script src="js/jquery.js"></script>
	@*<script src="js/plugins.min.js"></script>*@

	<!-- Footer Scripts
	============================================= -->
	<script src="js/functions.js"></script>

</body>
</html>
