@model Books2BookV2.Models.TblBook

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<!-- Stylesheets
============================================= -->
<link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700|Poppins:300,400,500,600,700|PT+Serif:400,400i&display=swap" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="/css/bootstrap.css" type="text/css" />
<link rel="stylesheet" href="style.css" type="text/css" />
<link rel="stylesheet" href="/css/dark.css" type="text/css" />
<link rel="stylesheet" href="/css/font-icons.css" type="text/css" />
<link rel="stylesheet" href="/css/animate.css" type="text/css" />
<link rel="stylesheet" href="/css/magnific-popup.css" type="text/css" />

<link rel="stylesheet" href="css/custom.css" type="text/css" />
<meta name="viewport" content="width=device-width, initial-scale=1" />


<div>

    <div class="row justify-content-center m-3">
        <div class="col-sm-8">
            <div class="card">
                <div class="card-header">
                    <h1></h1>
                </div>

                <div class="card-body text-center">
                    <img class="card-img-top" src="~/images/book1.png" asp-append-version="true" />
                    <h4>@Html.DisplayNameFor(model => model.Isbn): @Html.DisplayFor(model => model.Isbn) </h4>
                    <h4>@Html.DisplayNameFor(model => model.DatePublished): @Html.DisplayFor(model => model.DatePublished) </h4>
                    <h4>@Html.DisplayNameFor(model => model.AverageRating): @Html.DisplayFor(model => model.AverageRating) </h4>
                    <h4>@Html.DisplayNameFor(model => model.Condition): @Html.DisplayFor(model => model.Condition) </h4>
                    <h4>@Html.DisplayNameFor(model => model.Category): @Html.DisplayFor(model => model.Category) </h4>
                    <h4>@Html.DisplayNameFor(model => model.Description): @Html.DisplayFor(model => model.Description) </h4>
                </div>

                <div class="card-footer text-center">
                    <a asp-page="index" class="btn-primary">Back</a>
                </div>
            </div>
        </div>
    </div>#

    <a asp-action="Edit" asp-route-id="@Model?.BookId">Edit</a> |
    <a asp-action="Index">Back to List</a>
    