@model IEnumerable<Books2BookV2.Models.TblBook>

@{
	ViewData["Title"] = "Book List";
}

<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="SemiColonWeb" />
	<!-- Stylesheets
	============================================= -->
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700|Poppins:300,400,500,600,700|PT+Serif:400,400i&display=swap" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="~/css/bootstrap.css" type="text/css" />
	<link rel="stylesheet" href="~/css/style.css" type="text/css" />
	<link rel="stylesheet" href="~/css/dark.css" type="text/css" />
	<link rel="stylesheet" href="~/css/font-icons.css" type="text/css" />
	<link rel="stylesheet" href="~/css/animate.css" type="text/css" />
	<link rel="stylesheet" href="~/css/magnific-popup.css" type="text/css" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="~/css/custom.css" type="text/css" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<style>

		.white-section {
			background-color: #FFF;
			padding: 25px 20px;
			-webkit-box-shadow: 0px 1px 1px 0px #dfdfdf;
			box-shadow: 0px 1px 1px 0px #dfdfdf;
			border-radius: 3px;
		}

			.white-section label {
				margin-bottom: 15px;
			}

		.dark .white-section {
			background-color: #111;
			-webkit-box-shadow: 0px 1px 1px 0px #444;
			box-shadow: 0px 1px 1px 0px #444;
		}

	</style>

</head>

<body class="stretched">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		<!-- Top Bar
		============================================= -->
		<div id="top-bar">
			<div class="container clearfix">

				<div class="row justify-content-between">
					<div class="col-12 col-md-auto">



						<!-- Logo
						============================================= -->
						<div id="logo">

							<a href="#" class="standard-logo" data-dark-logo="images/logo-dark.png"><img src="~/images/logo1.png" alt="Books2Book Logo"></a>
							<!-- #logo end -->
							<div class="fancy-title title-border">
								<h1>Books-2-Book</h1>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div><!-- #top-bar end -->
		<!-- Content
		============================================= -->
		<section id="content">

		<div class="fancy-title title-border">
			<h3>Book Library</h3>
		</div>
		<br/>


		<form asp-controller="Movies" asp-action="Index">
			<p>
				Title: <input type="text" name="SearchString" />
				<input type="submit" value="Filter" />
			</p>
		</form>
	
		<table class="table">
			<thead>
				<tr>
					<th>
						@Html.DisplayNameFor(model => model.Isbn)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.Title)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.Category)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.InStock)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.Edition)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.Pages)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.Condition)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.NumberOfTimesBorrowed)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.Description)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.RatingTotal)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.DatePublished)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.NumberOfTimesRated)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.AverageRating)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.Pdflink)
					</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model)
				{
					<tr>
						<td>
							@Html.DisplayFor(modelItem => item.Isbn)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.Title)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.Category)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.InStock)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.Edition)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.Pages)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.Condition)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.NumberOfTimesBorrowed)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.Description)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.RatingTotal)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.DatePublished)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.NumberOfTimesRated)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.AverageRating)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.Pdflink)
						</td>
						@*<td>
					<a asp-action="Edit" asp-route-id="@item.BookId">Edit</a> |
					<a asp-action="Details" asp-route-id="@item.BookId">Details</a> |
					<a asp-action="Delete" asp-route-id="@item.BookId">Delete</a>
					</td>*@
						<td>
							@if (User.IsInRole("Admin"))
							{
								<a href="~/TblBooks/Edit?ID=@item.BookId" asp-action="Edit" asp-route-id="@item.BookId">Edit</a>
								<a href="~/TblBooks/Delete?ID=@item.BookId" asp-action="Delete" asp-route-id="@item.BookId">Delete</a>
							}
							<a href="~/TblBooks/Details?ID=@item.BookId" asp-action="Details" asp-route-id="@item.BookId">Borrow</a>
							@* <input type="button" value="Check out" onclick="location.href='@Url.Action("Index", "TblPayments")'" />*@




						</td>
					</tr>
				}
			</tbody>
		</table>
		 <button type="submit" value="Home"><h5><a href="~/Index">Home</a></h5></button>
		</section>
		<!-- Footer
			============================================= -->
		<footer id="footer" class="dark">

			<!-- Copyrights
			============================================= -->
			<div id="copyrights">
				<div class="container">

					<div class="row col-mb-30">

						<div class="col-md-6 text-center text-md-start">
							Copyrights &copy; 2022 All Rights Reserved by Books-2-Book Inc.<br>
							<div class="copyright-links"><a href="terms.html">Terms of Use</a> / <a href="#">Privacy Policy</a></div>
						</div>

						<div class="col-md-6 text-center text-md-end">
							<div class="d-flex justify-content-center justify-content-md-end">
								<a href="#" class="social-icon si-small si-borderless si-facebook">
									<i class="icon-facebook"></i>
									<i class="icon-facebook"></i>
								</a>

								<a href="#" class="social-icon si-small si-borderless si-twitter">
									<i class="icon-twitter"></i>
									<i class="icon-twitter"></i>
								</a>

								<a href="#" class="social-icon si-small si-borderless si-github">
									<i class="icon-github"></i>
									<i class="icon-github"></i>
								</a>

								<a href="#" class="social-icon si-small si-borderless si-linkedin">
									<i class="icon-linkedin"></i>
									<i class="icon-linkedin"></i>
								</a>
							</div>

							<div class="clear"></div>

							<i class="icon-envelope2"></i> info@books2book.com
							<span class="middot">&middot;</span>
							<i class="icon-phone1"></i> 083 468 1461
							<span class="middot">&middot;</span>
							<i class="icon-phone3"></i> 032 943 1348
						</div>

					</div>

				</div>
			</div><!-- #copyrights end -->
		</footer><!-- #footer end -->
	</div><!-- #wrapper end -->
	<!-- JavaScripts
	============================================= -->
	<script src="/js/jquery.js"></script>
	@*<script src="js/plugins.min.js"></script>*@

	<!-- Footer Scripts
	============================================= -->
	<script src="/js/functions.js"></script>

</body>
</html>